* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background-color: #FF6900;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/* Layout */

.row {
    display: flex;
    flex-wrap: wrap;
}

.container-full {
    width: 100%;
    padding: 14px;
    padding-left: 180px;
}

.col-40 {
    width: 40%;
}

.col-20 {
    width: 20%;
}

/* Content */

content {
    width: 20px;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

img {
    width: 100px;
}